<div class="maincontent">
  <article class="article">
    <h1 class="article-title">What is the Beehive?</h1>
      <p>A NodeJS/Express project made to track a fantasy-esc activity done by me and my former housemates</p>
  </article><!-- article -->

  <article class="article">
    <h1 class="article-title">Why?</h1>
    <p>Mainly because I was tired of keeping track of all of the information in Google Docs/Google Sheets, so I wanted to create an app that could use an API to do the work for me. It also gave me a reason to learn and practice NodeJS/Express and move towards making a MEAN Stack application.</p>
    <p>
      <a href="https://docs.google.com/document/d/18Dpj88UqzV2DtR5MCdzsuuC4w-uAhxtpHd9LBpTKX9U/edit?usp=sharing">Docs</a>
    </p>
  </article><!-- article -->

  <article class="article">
    <h1 class="article-title">What's planned?</h1>
    <ul>
      <li>1. Finishing an app for this season that can pull info based on a static JSON file that says which teams belong to who</li>
      <li>2. Encorporate more design features to make the app actually look nice</li>
      <li>3. Create more interaction, such as trades between players. Debating on making users, or how I would approach that.</li>
    </ul>
  </article><!-- article -->
</div>
