<article class="sidebar">
  <h1 class="sidebar-title">Teams</h1>
  <p class="sidebar-body">List of Teams</p>
  <div class="pixgrid clearfix">
    <% if (teams.length > 0) { %>
    <% for (i=0; i< teams.length; i++) { %>
        <h3><%= teams[i] %></h3>
    <% } %>
    <% } else { %>
      <h2>EMPTY</h2>
    <% } %>
  </div>
</article>
